// ボーダーボックス設定
* {
  box-sizing: border-box;
}

header {
  margin:  0 1rem;
  h1 {
    font-size: 2rem;
    letter-spacing: .5rem;
    padding: 1rem 0;
  }
  nav {
    border: solid 1px black;
    ul {
      display: flex;
      list-style: none;
      padding: 1rem;
      li{
        margin-left: 2rem;
      }
      li:first-of-type {
        margin-left: 0;
      }
      .cubic-btn {
        color: black;
        display: inline-block;
        height: 50px;
        letter-spacing: .5rem;
        perspective: 300px;
        position: relative;
        text-decoration: none;
        transform-style: preserve-3d;
        width: 150px;
        & span {
          border: solid 1px black;
          height: 100%;
          line-height: 48px;
          left: 0;
          position: absolute;
          text-align: center;
          top: 0;
          transition: all .3s;
          width: 100%;
        }
        & .hovering {
          background-color: black;
          color: white;
          transform: rotateX(90deg);
          transform-origin: center center -25px;
        }
        & .default {
          background-color: white;
          color: black;
          transform: rotateX(0);
          transform-origin: center center -25px;
        }
        &:hover {
          & .hovering {
            transform: rotateX(0);
          }
          & .default {
            transform: rotateX(-90deg);
          }
        }
      }
    }
  }
}

.top-area {
  padding: 2rem 1rem;
}

input {
  border: solid 1px black;
  height: 2rem;
  padding-left: 1rem;
}
button {
  background-color: gray;
  border: solid 1px gray;
  color: white;
  cursor: pointer;
  height: calc(2rem + 2px);
  width: 4rem;
}

.search {
  align-items: center;
  display: flex;
  &-input,
  &-btn {
    margin-left: 1rem;
  }
}

.book-info {
  .contents {
    display: flex;
    .conL {
      padding: 1rem;
      width: 30%;
      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }
    .conR {
      padding: 1rem 3rem;
    }
  }
}

.registration {
  padding: 1rem;
  p {
    width: 100px;
  }
  .regist-date {
    display: flex;
    .date-input {
    }
  }
  .regist-review {
    display: flex;
    margin: 1rem 0;
    .review-input {
      height: 10rem;
      padding: .5rem 1rem;
      width: calc(100% - 100px);
    }
  }
  .regist-btn {
    font-size: 1.3rem;
    height: 3rem;
    letter-spacing: 1.5rem;
    margin-left: 100px;
    width: calc(100% - 100px);
  }
}
