* {
  box-sizing: border-box;
}

header {
  margin: 0 1rem;
}

header h1 {
  font-size: 2rem;
  letter-spacing: .5rem;
  padding: 1rem 0;
}

header nav {
  border: solid 1px black;
}

header nav ul {
  display: flex;
  list-style: none;
  padding: 1rem;
}

header nav ul li {
  margin-left: 2rem;
}

header nav ul li:first-of-type {
  margin-left: 0;
}

header nav ul .cubic-btn {
  color: black;
  display: inline-block;
  height: 50px;
  letter-spacing: .5rem;
  perspective: 300px;
  position: relative;
  text-decoration: none;
  transform-style: preserve-3d;
  width: 150px;
}

header nav ul .cubic-btn span {
  border: solid 1px black;
  height: 100%;
  line-height: 48px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  transition: all .3s;
  width: 100%;
}

header nav ul .cubic-btn .hovering {
  background-color: black;
  color: white;
  transform: rotateX(90deg);
  transform-origin: center center -25px;
}

header nav ul .cubic-btn .default {
  background-color: white;
  color: black;
  transform: rotateX(0);
  transform-origin: center center -25px;
}

header nav ul .cubic-btn:hover .hovering {
  transform: rotateX(0);
}

header nav ul .cubic-btn:hover .default {
  transform: rotateX(-90deg);
}

.top-area {
  padding: 2rem 1rem;
}

input {
  border: solid 1px black;
  height: 2rem;
  padding-left: 1rem;
}

button {
  background-color: gray;
  border: solid 1px gray;
  color: white;
  cursor: pointer;
  height: calc(2rem + 2px);
  width: 4rem;
}

.search {
  align-items: center;
  display: flex;
}

.search-input, .search-btn {
  margin-left: 1rem;
}

.book-info .contents {
  display: flex;
}

.book-info .contents .conL {
  padding: 1rem;
  width: 30%;
}

.book-info .contents .conL img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.book-info .contents .conR {
  padding: 1rem 3rem;
}

.registration {
  padding: 1rem;
}

.registration p {
  width: 100px;
}

.registration .regist-date {
  display: flex;
}

.registration .regist-review {
  display: flex;
  margin: 1rem 0;
}

.registration .regist-review .review-input {
  height: 10rem;
  padding: .5rem 1rem;
  width: calc(100% - 100px);
}

.registration .regist-btn {
  font-size: 1.3rem;
  height: 3rem;
  letter-spacing: 1.5rem;
  margin-left: 100px;
  width: calc(100% - 100px);
}
