<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="stylesheet" href="./css/reset.css" >
    <link rel="stylesheet" href="./css/style.min.css" >
    <title>vue_sampleapp</title>
  </head>
  <body>
    <!--Vuestart-->
    <div id="app">
      <!--headerstart-->
      <header>
        <h1>Reading Recorder 登録</h1>
        <nav>
          <ul>
            <li><a class="cubic-btn" href="./index.html"><span class="hovering">Home</span><span class="default">Home</span></a></li>
            <li><a class="cubic-btn" href="./search.html"><span class="hovering">Search</span><span class="default">Search</span></a></li>
            <li><a class="cubic-btn" href="#"><span class="hovering">Support</span><span class="default">Support</span></a></li>
          </ul>
        </nav>
      <!--headerend-->
      </header>

      <!--mainstart-->
      <main>
        <ul class="book-info">
          <li class="contents">
            <div class="conL">
              <img v-bind:src="books[0].path" alt="検索した本の画像" >
            </div>
            <div class="conR">
              <ul>
                <li>No: {{books[0].no}}</li>
                <li>タイトル： {{books[0].title}}</li>
                <li>著者： {{books[0].author}}</li>
                <li>出版： {{books[0].publisher}}</li>
                <li>発売： {{books[0].releaseDate}}</li>
              </ul>
            </div>
          </li>
        </ul>
      <!--mainend-->
      </main>

      <!--formstart-->
      <form class="registration" v-on:submit.prevent>
        <div class="regist-date">
          <p>読了日</p>
          <input class="date-input" type="text" placeholder="2020/01/01" v-model="reviewDate">
        </div>
        <div class="regist-review">
          <p>感想</p>
          <textarea class="review-input" placeholder="感想を入力してください" wrap="soft" v-model="comment"></textarea>
        </div>
        <button class="regist-btn" v-on:click="addReview">登録</button>
      <!--formend-->
      </form>

      <pre>データデバッグ用{{reviews}}</pre><!--完成後消す-->

    <!--Vueend-->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
